# Archivos de PlatformIO
/.pio
/.vscode
# Parte de la carpeta Pruebas:
/Pruebas/.vscode/
/Pruebas/build/

# Parte del proyecto BlinkingLed:
/Pruebas/BlinkingLed/.pio/
/Pruebas/BlinkingLed/.vscode/

# Parte del proyecto LED_CONTROL_LEDC:
/Pruebas/LED_CONTROL_LEDC/.pio/
/Pruebas/LED_CONTROL_LEDC/.vscode/


# Archivos de compilación
/build
/.build

# Archivos de configuración específicos del entorno
*.env

# Archivos de bibliotecas
lib/

# Archivos de dependencias
#/.clangd
#/.clang-format
#/.clang-tidy
#/.ccls-cache
#/.cquery_cached_index

# Archivos de sistema
#.DS_Store
#Thumbs.db

# Archivos de logs
*.log

